---
layout: default
---

<div class="home container">

  <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
    <h2>Home</h2>
    <br>
    <p>
      Katkatha decided to develop their own adaptation of the Mahabharata in October, 2015. Anurupa brought the idea to the group in a meeting and they all agreed that after <i>About Ram</i>, this was a challenge they were willing to take on. 
    </p>
    <p>
      The performers for the show are: Anurupa Roy, Avinash Kumar, Gunduraju, Mohammad Shameem, and Vivek Kumar. Anurupa, Asha, and Shammem built the puppets; Avinash is the choreographer; Atul is the graphics designer. 
    </p>
    {% include imageright.html url="https://upload.wikimedia.org/wikipedia/commons/5/5a/Disrobing_of_Draupadi.jpg" caption="Draupadi humilated after the game of dice. Painting commissioned by Akabr in the 1500s." %}
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
    {% include sidebar.html %}
  </div>

</div>
