---
layout: default
---

<div class="home container">

  <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
    <h2>Home</h2>
    <br>
    <p>
      Malcolm Gladwell has a series of podcasts called <i>Revisionist History</i>. In the episode titled Hallelujah, he talks about time and iteration. According to him, there are two different types of trajectories that an artist seems to take. The first, like Picasso, plan ahead, they know exactly what they want, and then they quickly just execute and produce genius works. These are the type of people you typically think of when you think about what an artistic genius should be. The second, Gladwell says, are artists like Cézanne: experimental innovators. These artists don’t work quickly; when they start off, they don’t really know exactly where they’re going; they do endless trials; they’re perpetually unsatisfied; it can take them a long time to have a final product of their work that they’re happy with, that says what they want it to say. 
    </p>
    <p>
      Katkatha is textbook Cézanne. 
    </p>
    {% include image.html url="/KatkathaMahabharata/images/rehearsal/005.JPG" caption="Gundu, Shameem, Avinash, Vivek, and Anurupa improvising a potential ending for the show. This scene was changed almost immediately after it was improvised and is likely to change even more after the previews in Bengaluru." %}
    <p>
      Early in 2015, Anurupa Roy and Katkatha Puppet Arts Trust decided that they wanted to create an adaptation of the Mahabharata. After almost two years of research, a collaboration with a traditional artist, weeks of improvizations, countless drafts of the script, they land up with their preview shows at the Ranga Shankara theatre in Bengaluru. They’re still not done. After every show, they had a list of changes they wanted to make: some that they could execute in the next show in a few hours and others that they would take time to develop. 
    </p>
    <p>
      This blog is an attempt to document the process of the experimental innovation of Katkatha. On the right are a list of articles in this blog. In case you’re unfamiliar with Katkatha, the Mahabharata, or their show, you can read more in "<a href="{{ site.baseurl }}/articles/about/">About the Show</a>". The remaining articles each talk about a scene in the play and how they were built. Photographs, text, and podcasts guide you through a deeper dive into the process. 
    </p>
<!--     {% include imageright.html url="https://upload.wikimedia.org/wikipedia/commons/5/5a/Disrobing_of_Draupadi.jpg" caption="Draupadi humilated after the game of dice. Painting commissioned by Akabr in the 1500s." %}
    {% include image.html url="https://upload.wikimedia.org/wikipedia/commons/3/37/Krishna_and_Arjun_on_the_chariot%2C_Mahabharata%2C_18th-19th_century%2C_India.jpg" caption="Arjun and Krishna on chariot as depicted in a 16th Century painting comissioned by Akbar." %} -->
  </div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
    {% include sidebar.html %}
  </div>

</div>
