<div id="footer">
	<div class="container" align="left">
		<img src="{{ site.baseurl }}/images/festivallogo.jpg" style="height: 78px;">
		<br>
		<div class="col-xs-6">
			<p id="footerp">
				Mahabharata is a co production supported by Festival Mondial Des Theatres De Marionettes.
			</p>
		</div>
		<div class="col-xs-6" align="right">
			<p id="footerp">
				All content is &copy; Katkatha unless otherwise noted or attributed.
				<br>
				Katkatha Puppet Arts Trust is registered as a Trust under Section 60 of the Trusts Act of India.
			</p>
		</div>
	</div>
</div>